body {
  background-color: #111;
  color: #ddd;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 40px 15px;
}

.container {
  max-width: 700px;
  margin: auto;
}



.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}



/* ---------- TEXTO ---------- */
.data {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.nome {
  color: #ff4d6d;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-bottom: 0;
}

.titulo {
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
}

.texto {
  color: #ddd;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}
