body {
  background-color: #111;
  color: #ddd;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 40px 15px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.carousel-item img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}

/* ---------- TEXTO ---------- */
.data {
  color: #aaa;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.nome {
  color: #ff4d6d;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-bottom: 0;
}

.titulo {
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
}

.texto {
  color: #ddd;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* ---------- GIF ---------- */
svg #line {
  fill: none;
  stroke: #e00000;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;

  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}
svg #point {
  fill: none;
  stroke: #f00000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: .1;
  stroke-opacity: 1;
  stroke-dasharray: .0001, .9999;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}